.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}
.container div{
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}
.container div div{
  flex: 1;
  height: 25px;
  flex-direction: column;
  flex-grow: 1;
}
.hover{
  background-color: blue;
}